name: Terraform Apply (Main)

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

env:
  TF_VERSION: "1.6.6"
  TF_WORKING_DIR: terraform
  TF_ENV: prod

jobs:
  apply:
    runs-on: ubuntu-latest

    environment:
      name: stage
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ----------------------------
      # Authenticate to GCP
      # ----------------------------
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: projects/865252980138/locations/global/workloadIdentityPools/githubaction/providers/github
          service_account: githubaction@disco-bedrock-483611-k9.iam.gserviceaccount.com

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v1

      # ----------------------------
      # Setup Terraform
      # ----------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}
      
      # ----------------------------
      # Select Terraform Workspace
      # ----------------------------
      - name: Select Terraform Workspace
        run: |
         terraform workspace select "${TF_ENV}" \
         || terraform workspace new "${TF_ENV}"

      # ----------------------------
      # Define plan name 
      # ----------------------------
      - name: Set plan name
        run: |
          echo "TF_PLAN_NAME=tfplan-${TF_ENV}-${GITHUB_SHA}.out" >> $GITHUB_ENV

      # ----------------------------
      # Terraform Init
      # ----------------------------
      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init -backend-config="prefix=gcp/${TF_ENV}"

      # ----------------------------
      # Download plan from GCS
      # ----------------------------
      - name: Download plan from GCS
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          set -euo pipefail

          gcloud storage cp \
            gs://terraform-plan-bucket/${TF_ENV}/${TF_PLAN_NAME} \
            "${TF_PLAN_NAME}"

      # ----------------------------
      # Terraform Apply (plan-based)
      # ----------------------------
      - name: Terraform Apply
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          set -euo pipefail
          terraform apply "${TF_PLAN_NAME}"
