name: Terraform Apply (Main)

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

env:
  TF_VERSION: "1.6.6"
  TF_WORKING_DIR: terraform
  TF_PLAN_NAME: tfplan-${{ github.sha }}.out

jobs:
  apply:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0.4.0'
        with:
          token_format: 'access_token'
          workload_identity_provider: 'projects/865252980138/locations/global/workloadIdentityPools/githubaction/providers/github'
          service_account: 'githubaction@disco-bedrock-483611-k9.iam.gserviceaccount.com'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init

      - name: Download plan from GCS
        working-directory: terraform
        run: |
          gsutil cp \
            gs://terraform-plan-bucket/${ENV}/${TF_PLAN_NAME} \
            ${env.TF_PLAN_NAME}
            
      - name: Terraform Apply
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform apply -auto-approve  "$env.TF_PLAN_NAME"
