name: First pipeline

# Controls when the workflow will run
on:
 push:
    branches:
     - prod
     - dev
     - stage
 pull_request:
    branches:
      - main

permissions:
  contents: read
  id-token: write
env:
  TF_VERSION: "1.14"
  TF_WORKING_DIR: terraform
jobs:
  build:
    runs-on: github-runner

    steps:
      # ---------------------------
      # 1. Checkout code
      # ---------------------------
      - name: Checkout
        uses: actions/checkout@v4

      # ---------------------------
      # 2. Print branch
      # ---------------------------
      - name: Print branch
        run: |
          echo "********************"
          echo "Branch: ${GITHUB_REF_NAME}"
          echo "********************"

      # ---------------------------
      # 3. Setup Terraform
      # ---------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      # ---------------------------
      # 4. Terraform fmt
      # ---------------------------
      - name: Terraform fmt
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform fmt -check -recursive

      # ---------------------------
      # 5. Terraform init
      # ---------------------------
      - name: Terraform init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init -input=false

      # ---------------------------
      # 6. Terraform validate
      # ---------------------------
      - name: Terraform validate
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform validate

      # ---------------------------
      # 7. tfsec scan
      # ---------------------------
      - name: tfsec
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: ${{ env.TF_WORKING_DIR }}
          severity: HIGH

      # ---------------------------
      # 8. Terraform plan
      # ---------------------------
      - name: Terraform plan
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          TFPLAN=tfplan-${GITHUB_REF_NAME}-${GITHUB_SHA}
          terraform plan -out=$TFPLAN

      # ---------------------------
      # 9. Terraform apply (main only)
      # ---------------------------
      - name: Terraform apply
        if: github.ref_name == 'main'
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          echo "Applying Terraform on protected branch: main"
          terraform apply -auto-approve "$TFPLAN"
